<p>
	<h2>Team 1</h2>
	<ul>
	<% @team1.each do |t1| %>
	<li><%= t1.name %></li>
	<% end %>
	</ul>
</p>

<p>
	<h2>Team 2</h2>
	<ul>
	<% @team2.each do |t2| %>
	<li><%= t2.name %></li>
	<% end %>
	</ul>
</p>